#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}

// .containerDragDrop {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.kiHXWb {
  width: 150px !important;
  height: 300px !important;
}
